html {
  font-size: 16px;
  margin: 10px;
  background-color: dimgray;
  color: whitesmoke;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
}

p {
  font-size: 1rem;
}

a {
  font-size: 1.5rem;
}

a {
  color: skyblue;
}

a:hover {
  color: lightblue;
}

a:visited {
  color: orchid;
}

a:visited:hover {
  color: magenta;
}
