/* My code */
* {
  margin: 0;
  padding: 0;
}

ul {
  
}

ul li {
  list-style: none;
  display: inline-block;
}

ul li a {
  text-decoration: none;
}

h1 {
  color: red;
  font-size: 35px;
  text-align: center;
}

h2 {
  text-align: center;
}
