/* My code */
* {
  margin: 0;
  padding: 0;
}

ul {
  
}

ul li {
  list-style: none;
  display: inline-block;
  float: left;
}

ul li a {
  text-decoration: none;
  font-site: 14px;
  font-family: arial;
  color: #1e1e1e;
}

h1 {
  color: red;
  font-size: 35px;
  text-align: center;
}

h2 {
  text-align: center;
}
